@import "tailwindcss";

* {
  text-transform: lowercase;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Nunito", arial, helvetica, sans-serif;
  font-weight: 700;
  position: relative;
  background-color: rgb(220, 252, 231); /* bg-green-100 */
}

body::before {
  content: '';
  position: fixed;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;
  background-image: url('/MiffySmall.svg');
  background-repeat: repeat;
  background-size: 150px 150px;
  opacity: 0.15;
  pointer-events: none;
  z-index: -1;
  transform: rotate(-15deg);
  transform-origin: center;
}
